@import url(https://fonts.google.com/specimen/Inter?query=inter);
@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=candara%0A);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    /*background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);*/
    /*background: linear-gradient(68.15deg, #5600e8 16.62%, #23036a 85.61%);*/
    /*background: linear-gradient(68.15deg, #424266c9 16.62%, #41359bce 85.61%);*/
    /*background-color: slateblue;*/
    /*background-color: violet;*/
    /*background-color: blueviolet;*/
    /*background: linear-gradient(68.15deg,#3a0a74 16.62%,#648ebe 85.61%);*/
    /*background: linear-gradient(68.15deg,#807d 16.62%,#648ebe 85.61%);*/
    /*background: linear-gradient(68.15deg, #807d6d 16.62%, #648ebe 85.61%);*/
    background: linear-gradient(68.15deg, #5c537a 16.62%, #a38e18 85.61%);/*Gostei*/
    /*background: linear-gradient(68.15deg, #50573a 16.62%, #648ebe 85.61%);*/ /*Também gostei desta opção.*/
    /*background: linear-gradient(68.15deg, #807d6d 16.62%, #648ebe 85.61%);*/
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Inter';
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Candara';
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
    background-color: #ecd6c4;
    width: 180 px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala';
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 430;
    padding-top: 48px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Candara';
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.div-conteudo-secundario-paragrafos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
}

.div-conteudo-secundario-paragrafo {
    font-family: 'Sarala';
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
    box-shadow: 14px 15px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}